.buttonFloor{
    padding: 5px 15px;
    border-radius: 50%;
    background: rgb(51, 109, 51);
    color: white;
    margin-left: 10px;
}
.custom1 {
    padding: 5px 8px;
    border-radius: 5px;
    color: #eaeaea;
}